@import "./variables.module.scss";

.app {
  height: 100%;
}

.flex {
  display: flex;
  &AlignCenter {
    align-items: center;
  }
  &AlignEnd {
    align-items: end;
  }
  &JustifyCenter {
    justify-content: center;
  }
  &JustifyEnd {
    justify-content: end;
  }
  &JustifySpaceAround {
    justify-content: space-around;
  }
  &JustifySpaceBetween {
    justify-content: space-between;
  }
  &DirectionColumn {
    flex-direction: column;
  }
  &Wrap {
    flex-wrap: wrap;
  }
  &Gap10 {
    gap: 10px;
  }
  &Gap20 {
    gap: 20px;
  }
  &Gap30 {
    gap: 30px;
  }
}

.contentSection {
  padding: 40px 40px 30px;
}

.padding10 {
  padding: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
}
